.product-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-link{
    font-size: 14px;
    margin-top: 10px;
}
.product-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #1d1d1f;
    height: 3.3em;
    border-bottom:1px solid #d2d2d7;
    background-color: white;
    z-index: 999;
}
.product-header-text{
    width: min(1024px,100%);
    text-align: left;
    font-size: 21px;
    font-weight: 500;
    align-items: center;
    padding-left: 6.5%;
}
.installment-header{
    background-color: #f5f5f7;
    color: #1d1d1f;
    width: 100vw;
    height: 3.3em;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: -.016em;
}

.product-container{
    margin-top: 55px;
}
.right-container{
    width: 408px;
    flex: 1;
}

.product-images-container{
    justify-content: center;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.content-wrapper{
    width: calc(50vw-calc(58%));
    object-fit: contain;
    display: flex;
    justify-content: center;
    padding: 107px 50px 70px;
}
.product-images{ /*contains all scrollable images*/
    width: calc(450px*3);
    transition: all 0.4s;
    transform: translateX(450px);
    align-items: center;
}
.product-image{
    position: sticky;
    top: 0;
    width: 450px;
    height: 450px;
    object-fit: cover;
    transition: all 0.4s;
}

.offers-container{
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    margin: 14px 0 27px;
}
.offer-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.33337;
    letter-spacing: -.01em;
    width: 172px;
    text-align: center;
}
.offer-text{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.carriers-text{
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.network-image{
    height: 41px;
    margin-right: 21px;
}

/*-----Image Elements----->*/

.color-picker{
    height: 32px;
    width: 32px;
}
.scroll-button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 40px;
    color: gray;
    background-color: rgba(169, 169, 169, 0.66);
    justify-content: center;
    cursor: pointer;
    z-index: 999;
}
.right-scroll{
    position: absolute;
    top: 45%;
    left: 80%;
}
.left-scroll{
    position: absolute;
    top: 45%;
    left: 10%;
}
.scroll-button:hover{
    background-color: whitesmoke;
}

/*----Right Container-----*/
.product-title{
    font-weight: 500;
    font-size: 21px;
    margin-top: 5px;
}

.product-brief{
    margin-top: 6px;
    font-weight: 500;
    font-size: 32px;
}

.base-price{
    font-size: 17px;
    margin-top: 14px;
}

.product-description{
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.42859;
    margin-bottom: 50px;
}

.style-selection-menu{
    border-bottom: 1px solid #d2d2d7;
    width: 100%;
    gap: 60px;
}
.selection-item{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 17px;
}

.color-selected{
    font-size: 14px;
    font-weight: 500;
    margin-top: 27px;
}

.color-selectors-container{
    margin-top: 20px;
    margin-bottom: 14px;
}
.color-selector{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 3px;
    margin-right: 8px;
    border: 2px solid white;
    cursor: pointer;
}

.style-text{
    font-size: 17px;
    line-height: 1.47059;
    padding-bottom: 50px;
    border-bottom: 1px solid #d2d2d7;
}


.types-container{
    margin-top: 25px;
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 50px;
}
.type-container{
    padding: 14px;
    border: 2px solid #d2d2d7;
    border-radius: 10px;
    line-height: 1.23536;
    margin-top: 25px;
    align-items: center;
    min-height: 2.88235rem;
}
.choice-header,.type-header{
    font-weight: 500;
    font-size: 17px;
    line-height: 1.23536;
}
.type-description{
    font-size: 12px;
    color: #1d1d1f;
    line-height: 1.33337;
}
.selected{
    border: 2px solid #0071e3;
}

/*----------contents-container styling--------->*/
.contents-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
}
.contents-header{
    font-size: 40px;
    font-weight: 500;
}