.transition{
    transition: all 0.3s ease-in-out;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.center{
    align-items: center;
}
.pointer{
    cursor: pointer;
}
.root{
    width: 100%;
    height: 100%;
}
.main-container{
    width: 100%;
}
.def-font{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.link{
    cursor: pointer;
    color: #06c;
}
.link:hover{
    text-decoration: underline;
}